body {
  background-image: url("./background.png");
  background-repeat: no-repeat;
  background-size: 2660px 2000px;
}

#calculatorWrapper {
  border: 5px solid red;
  width: 400px;
  margin: 20vh auto 0;
  display: flex;
  justify-content: space-between;
  height: 500px;
  flex-direction: row;
  flex-wrap: wrap;
}

.buttons {
  display: block;
  width: 24.5%;
  height: 16.3%;
}

#outputContainer {
  display: flex;
  width: 98%;
  justify-content: right;
  padding-right: 40px;
  background-color: orange;
}

#outputValue {
  font-size: 45px;
  margin-top: 15px;
}

#clear {
  width: 50%;
}

#zero {
  width: 74.8%;
}
